@using FluentBootstrap
@using Ranger.Core.Models
@model Ranger.Web.Models.Configurations.ViewConfigurationsViewModel
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>
                Save configuration
                @using (var dropdown = Html.Bootstrap().Dropdown(Model.Team).AddStyle("display", "inline-block").Begin())
                {
                    foreach (var team in Model.Teams)
                    {
                        @dropdown.DropdownLink(team, Url.Action("Index", "Configurations", new { id = team }))
                    }
                }
            </h2>
        </div>
        @using (var form = Html.Bootstrap().Form("Index", "Configurations", FormMethod.Post, new { id = Model.Team }).HideValidationSummary().SetHorizontal().Begin())
        {            
            <div class="form-group">
                @Html.HiddenFor(x => x.Config, new { @class = "hdn-json" })
                <div id="jsoneditor" style="width: 100%; height: 500px;"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-default save-config">Save</button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var container = document.getElementById("jsoneditor");
        var options = {
            mode: 'form',
            modes:['form', 'tree', 'text']
        };
        var editor = new JSONEditor(container, options);
        editor.set(@Html.Raw(Model.Config));
        editor.expandAll();
        $(".save-config").click(function() {
            var json = editor.get();
            $(".hdn-json").val(JSON.stringify(json, null, 2));
        });
    </script>
}